.awesome {
}
.awesome-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.awesome-items__img {
    height: 70px;
    width: 70px;
    border: 1px solid chocolate;
    border-radius: 50%;
}
.icon_img {
    display: block;
    margin: 20px auto;
}
.line {
    width: 100px;
    height: 2px;
    background-color: chocolate;
    margin: auto;
}