.bg-block {
    /*width: 900px;*/
    height: 350px;
    border: 1px solid cornsilk;
    margin: auto;

    background: url('../img/icons/bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}