.header {
    padding: 20px 0;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 200px;
    height: 50px;
    background-color: palevioletred;
}
.nav {
    border: 1px solid blue;
}
.nav-list {
    width: 950px;
    border: 1px solid gray;
    align-content: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.nav-list_item {
    width: 100px;
    border: 1px solid gray;
    display: inline;
    text-align: center;

}