@import "bg.css";
@import "header.css";
@import "awesome.css";

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 15px 0;
    background-color: bisque;
}
