{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Lesson-1</title>
</head>

<body>

<header class="header">
    <div class="container">
        <div class="header-row">
            <div class="logo"></div>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-list_item">menu 1</li>
                    <li class="nav-list_item">menu 2</li>
                    <li class="nav-list_item">menu 3</li>
                    <li class="nav-list_item">menu 4</li>
                    <li class="nav-list_item">menu 5</li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<section class="first_screen">
    <div class="container">
        bla-bla-bla
    </div>
</section>
<section class="social">
    <div class="container">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci architecto beatae delectus, error
        eum fuga laboriosam maiores maxime obcaecati perferendis quis rem sed, tenetur voluptas. Doloribus eveniet
        molestiae sapiente?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, aliquid debitis eius eos expedita
        explicabo in labore minima minus molestias nostrum omnis perferendis quae quam quidem repellat soluta vero!
    </div>
</section>
<section class="transition">
    <div class="container_trans">
        <div class="container">
            <ul class="container-tab">
                <li class="transition-tab">TAB1</li>
                <li class="transition-tab">TAB1</li>
                <li class="transition-tab">TAB1</li>
            </ul>
        </div>
        <div class="container">

        </div>
    </div>
</section>
<section class="awesome">
    <div class="container">
        <h2 class="title">
            why this is awesome
        </h2>
        <div class="line"></div>
        <div class="awesome-disc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, quis.</p>
        </div>
        <div class="awesome-row">
            <div class="awesome-item">
                <div class="awesome-items__img">
                    <img src='static/img/icons/lamp.png' class="icon_img" alt="lamp">
                </div>
                <div>
                    <h4 class="awesome-item__title">
                        Thoughtful Design
                    </h4>
                </div>
                <div>
                    <p class="awesome-item__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, vero.
                    </p>
                </div>
            </div>
                        <div class="awesome-item">
                <div class="awesome-items__img">
                    <img src='static/img/icons/keyboard.png' class="icon_img" alt="keyboard">
                </div>
                <div>
                    <h4 class="awesome-item__title">
                        Well Crafted
                    </h4>
                </div>
                <div>
                    <p class="awesome-item__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, vero.
                    </p>
                </div>
            </div>
                        <div class="awesome-item">
                <div class="awesome-items__img">
                    <img src='static/img/icons/lightning.png' class="icon_img" alt="lightning">
                </div>
                <div>
                    <h4 class="awesome-item__title">
                        Easy to Customize
                    </h4>
                </div>
                <div>
                    <p class="awesome-item__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, vero.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    footer
</footer>

</body>
</html>